





.cont{
background-color:blue;
border: 2px solid black;
height: 600px;
flex-direction:row;
display: flex;
justify-content :center;
align-items: center;
flex-wrap: wrap;
flex-direction: row;

 /* axix  cros aling
 2 main axix just */



}
.box{

width: 100px;
height: 100px;
background-color: aqua;
margin: 10px;

}